name: CI
on:
  pull_request:
  push:
    branches:
      - '**'
    tags-ignore:
      - 'v*'  # Ignore version tags as they're handled by release workflow

permissions: {}

jobs:
  lint:
    name: Lint
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version-file: '.nvmrc'
          cache: 'yarn' # zizmor: ignore[cache-poisoning] Not a release workflow
      - run: yarn install --immutable
      - run: yarn lint
      - run: yarn tsc
      - run: yarn build

  tests:
    name: Tests
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version-file: '.nvmrc'
          cache: 'yarn' # zizmor: ignore[cache-poisoning] Not a release workflow
      - run: yarn install --immutable
      - run: yarn test
  integration:
    name: Integration
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version-file: '.nvmrc'
          cache: 'yarn' # zizmor: ignore[cache-poisoning] Not a release workflow
      - run: yarn install --immutable
      - run: yarn tsc
      - run: yarn build
      - name: Install dependencies
        run: ./tests/integration/install-ubuntu.sh
      - name: Run integration tests
        shell: 'script -q -e -c "bash {0}"' # zizmor: ignore[dangerous-script-shell] Required for tty allocation in tilt ci
        run: |
          export PATH=$PATH:/usr/local/go/bin:~/go/bin
          ctlptl apply -f tests/integration/kind-config.yaml
          tilt ci
